<app-menu-bar></app-menu-bar>

<div class="ml-6 mt-1">
    <div class="flex flex-column">

        <div>
            <h1 class="font-medium">Kuća za odmor u Lepoglavi</h1>
        </div>

        <div >
            <p>oaza za bijeg od svakodnevne galame i stresa.</p>
        </div>

    </div>

</div>



<div class="ml-6">

    <div class="flex justify-content-start flex-wrap">
    
        <div class="flex align-items-center justify-content-center w-18rem h-13rem m-2 border surface-500">
            <div class="flex flex-column">
            
                <div>
                    <span class="font-bold">Lokacija:</span> Lepoglava
                    
                </div>
            
                <div class="mt-4">
                    <span class="font-bold">Cijena po noćenju:</span> €€
                </div>

                    <div class="m-4">
                    <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" placeholder="Izaberi Datum"></p-calendar>
                    </div>
            
            </div>
               
          
        </div>
    
    </div>
</div>


<div class="border-round-sm p-4 mt-3 surface-100 ">

    <div class="justify-content-center flex-wrap">
        <p>Vikendica u Lepoglavi predstavlja savršeno utočište za one koji traže mir i opuštanje u prirodi. Sa svojih
            42m2, ova
            vikendica je idealna za parove ili male obitelji koje žele pobjeći od gradske vreve i zaviriti u oazu
            tišine.

            Smještena na kraju asfaltiranog puta, vikendica pruža privatnost i osjećaj izolacije, dok istovremeno nudi
            lagan pristup
            svim lokalnim atrakcijama i aktivnostima. Okružena je bujnim zelenilom i prekrasnim pejzažima koji se
            pružaju sve do
            horizonta, pružajući nezaboravan pogled koji osvaja srca svih posjetitelja.

            Unutrašnjost vikendice je uređena s ukusom i pažnjom prema detaljima, stvarajući topao i ugodan ambijent.
            Prostrana
            dnevna soba, udobna spavaća soba i potpuno opremljena kuhinja pružaju sve potrebno za ugodan boravak. Terasa
            ili vrt
            ispred vikendice idealni su za opuštanje na svježem zraku, bilo da je riječ o jutarnjoj kavi ili večernjem
            gledanju
            zalaska sunca.

            Bilo da ste ljubitelj šetnji prirodom, planinarenja, ili jednostavno želite provesti vrijeme u miru i
            tišini, vikendica
            u Lepoglavi je pravo mjesto za vas. Doživite čari ruralnog života, udahnite svjež zrak i napunite baterije u
            ovoj
            predivnoj oazi koja čeka da je otkrijete.</p>

    </div>
</div>




<div class=" border-round-sm border-200 surface-100 mt-3">
    <div class="p-3 flex justify-content-center flex-wrap">
        <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true"></p-calendar>
    </div>
</div>